/*****HEADER********/

/*enlève des margin du header et ajoute un padding de 37px à gauche du logo */
.ast-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 37px;
    padding-right: 0px;
}

/*crée le bouton commander et centre le texte*/
.ast-header-button-1[data-section*="section-hb-button-"] 
.ast-builder-button-wrap 
.ast-custom-button {
    display: flex;
    width: 236px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

/*change la couleur du bouton commander et du texte en hover*/
.ast-custom-button:hover {
    color: #ffff;
    background-color: #C02E44;
}

/*enlève un padding sur la droite du bouton commander*/
#masthead .ast-container {
    padding-right: 0px;
}

/*donne le style pour les liens du menu*/
.menu-link {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

/*donne le style pour les liens du menu en hover et en visited*/
.menu-link:hover {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.menu-link:visited {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

/*******FOOTER******/

/*change la couleur des mentions légales en fonction qu'on est hover ou non*/
.ast-footer-copyright a {
    color: #000;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.ast-footer-copyright a:hover {
    color: #000;
    font-family: Syne;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/******HOME******/

/*permet de mettre le style du boutton commander dans la page home*/
.elementor-button.elementor-size-md {
    display: flex;
    align-items: center;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
}

.e-con.e-flex>.e-con-inner {
    display: flex;
    align-items: center;
}