/*****HEADER********/

/*enlève des margin du header et ajoute un padding de 37px à gauche du logo */
.ast-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 37px;
    padding-right: 0px;
}

/*crée le bouton commander et centre le texte*/
.ast-header-button-1[data-section*="section-hb-button-"] 
.ast-builder-button-wrap 
.ast-custom-button {
    display: flex;
    width: 236px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

/*change la couleur du bouton commander et du texte en hover*/
.ast-custom-button:hover {
    color: #ffff;
    background-color: #C02E44;
}

/*enlève un padding sur la droite du bouton commander*/
#masthead .ast-container {
    padding-right: 0px;
}

/*donne le style pour les liens du menu*/
.menu-link {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

/*donne le style pour les liens du menu en hover et en visited*/
.menu-link:hover {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.menu-link:visited {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

/*******FOOTER******/

/*change la couleur des mentions légales en fonction qu'on est hover ou non*/
.ast-footer-copyright a {
    color: #000;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.ast-footer-copyright a:hover {
    color: #000;
    font-family: Syne;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/******HOME******/

/*permet de mettre le style du boutton commander dans la page home*/
.elementor-button.elementor-size-md {
    display: flex;
    align-items: center;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
}

.e-con.e-flex>.e-con-inner {
    display: flex;
    align-items: center;
}

/*******NOUS RENCONTRER**********/

/*image étoile*/

.elementor-12 .elementor-element.elementor-element-6eb9444 {
    --e-con-grid-template-columns: 25% auto !important;
}

.div-title {
    position: relative;
}

.img-etoile {
    position: absolute;
    top: 4.44rem;
}

.rencontrer-title {
    background-color: red !important;
}

/*bouton envoyer*/
.contact-form input.wpcf7-form-control.wpcf7-submit.has-spinner {
    display: flex;
    width: 198px;
    height: 55px;
    padding: 9px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #E0B9B4;
}

/*bouton envoyer hover*/
.contact-form input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
    background: #C02E44;
}

/*centrer le bouton envoyer*/
.wpcf7 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*label formulaire*/
.contact-form label {
    color: #000;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*text-area nom et email*/
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 383px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

/*text-area message*/
.wpcf7-form-control.wpcf7-textarea {
    width: 383px;
    height: 237px;
    flex-shrink: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
}

/**********COMMANDER*******/


/*Mise en forme du formulaire de commande*/

/* Cache les flèches par défaut */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.commander {
    color: #FFF !important;
    text-align: center;
    font-family: Syne !important;
    font-size: 38px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    padding-top: 69px;
    padding-bottom: 69px;
    margin: 0px !important;
}

.title-command h2 {
    color: #FFF !important;
    font-family: Syne !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.div3 h2 {
    color: #FFF !important;
    font-family: Syne !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.div4 h2 {
    color: #FFF !important;
    font-family: Syne !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
    .div2 {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        padding-top: 40px;
        padding-bottom: 39px;
    }
    /*bordure centrale et espacement dans les user info*/
    .div3 {
        border-right: 1px solid #FFF;
        padding-right: 45px;
    }
    
    /*enlever l'espacement de la bordure avant le bouton commander*/
    p {
        margin-bottom: 0em !important;
    }
    
    .div4 {
        padding-left: 45px;
    }
    
    .product-container {
        display: grid;
        width: 860px;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 20px;
    }
    
    .product-container img {
        height: 128px;
    }
    
    .quantity-input {
        width: 43px !important;
        height: 56px !important;
        flex-shrink: 0;
        margin-top: 5px;
    }
    
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .number-input input {
        border-radius: 0%;
    }
    
    .user-info {
        display: grid;
        width: 860px;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px !important;
        text-align: left;
    }
    
    .user-info label {
        display: block;
        margin-bottom: 5px;
        padding-top: 30px;
        color: #FFF;
        font-family: Syne;
        font-size: 20px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
    }
    
    .user-info input {
        border-radius: 7px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
        height: 71px;
        flex-shrink: 0;
    }
    }

    @media only screen and (min-width: 320px) and (max-width: 899px) {
    .div2 {
        padding-top: 40px;
        padding-bottom: 39px;
    }
    
    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .product-container img {
        height: 128px;
    }
    
    .quantity-input {
        width: 43px !important;
        height: 56px !important;
        flex-shrink: 0;
        margin-top: 5px;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .number-input input {
        border-radius: 0%;
    }

    .user-info {
        min-width: 320px;
        max-width: 600px;
    }

    .user-info label {
        display: block;
        margin-bottom: 5px;
        padding-top: 30px;
        color: #FFF;
        font-family: Syne;
        font-size: 20px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
    }
    
    .user-info input {
        border-radius: 7px;
        background: #FFF;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
        max-width: 320px;
        height: 71px;
        flex-shrink: 0;
    }
    }

    @media only screen and (min-width: 320px) and (max-width: 899px) {
        .div2 {
            padding-top: 40px;
            padding-bottom: 39px;
        }
        
        .product-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .product-container img {
            height: 128px;
        }
        
        .quantity-input {
            width: 43px !important;
            height: 56px !important;
            flex-shrink: 0;
            margin-top: 5px;
        }
    
        .product {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .number-input input {
            border-radius: 0%;
        }
    
        .user-info {
            min-width: 320px;
            max-width: 600px;
        }
    
        .user-info label {
            display: block;
            margin-bottom: 5px;
            padding-top: 30px;
            color: #FFF;
            font-family: Syne;
            font-size: 20px;
            font-style: normal;
            font-weight: 400 !important;
            line-height: normal;
        }
        
        .user-info input {
            border-radius: 7px;
            background: #FFF;
            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.04);
            max-width: 320px;
            height: 71px;
            flex-shrink: 0;
        }
        }

        .submit-btn {
            display: flex;
            align-items: center;
            border-radius: 5px;
            background: #E0B9B4;
            margin-top: 20px;
            width: 198px;
            height: 55px;
            padding: 9px 57px 9px 56px;
        }
        
        .submit-btn:hover {
            background-color: #C02E44;
        }

/**************Lien Admin************/

.adminButton {
    color: #000;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 30px 50px 30px 50px;
}

/*donne le style pour le lien Admin en hover et en visited*/
.adminButton:hover {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 30px 50px 30px 50px !important;
}

.adminButton:visited {
    color: #000 !important;
    font-family: Syne !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin: 0 !important;
    padding: 30px 50px 30px 50px !important;
}